<div class= "center jumbotron">
  <% if logged_in? %>
    <h1>Home</h1>
  <% else %>
    <h1>Welcome to MySportsPicks!</h1>
    <br>
    <br>
  <% end %>




<div class = "container-fluid">
  <% if !logged_in? %>
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  <% else %>
  <h2><%= link_to "Make a pick now!", picks_path, class: "btn btn-lg btn-primary" %></h2>
  <% end %>
  <% if is_admin? %>
  <h2><%= link_to "Manage Users", users_path %></h2>
  <% end %>
</div>
</div>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
        <h3>Post Feed</h3>
        <%= render 'shared/feed' %>
        <% end %>
    </div>
  </div>
