<% provide(:title, 'Groups') %>
<p id="notice"><%= notice %></p>
<h1> Groups </h1>
<h2> <%= button_to "Create a New Group", new_group_path, :method => :get, :class => "btn btn-primary" %></h2>
<br>
<br>
<% if @groups.count == 1 %>
<h2> There is currently <%= @groups.count %> group. </h2>
<% else %>
<h2> There are currently <%= pluralize(@groups.count, 'Group') %>. </h2>
<% end %>



  <ul class="users">
  <% @groups.each do |t| %>
  <li>
    <%= link_to t.name, group_path(t) %>
  </li>
  <% end %>
  </ul>

  <%= will_paginate %>
