<h1>Create a Group</h1>

<%= form_for(@group) do |f| %>
<%= render 'shared/error_messages', object: @group %>
  <%= f.label :name, "Group Name" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
