<h1><%= @group.name %> </h1>
<h4> Members </h2>
<ul class= "users">
<% @group.users.each do |t| %>
<li><%= link_to t.name, user_path(t) %></li>
<% end %>
</ul>

<%if @group.users.exists?(current_user.id) %>
  <% if current_user.id != @group.owner_id %>
  <%= button_to "Leave this Group", group_leave_path(@group), :method => :get %>
  <% else %>
  <%= button_to "Delete this group", group_path(@group), data: {confirm: 'Are you sure?' }, :method => :delete %>
  <%= button_to "Edit Group Name", edit_group_path(@group), :method => :get %>
  <% end %>
 <% else %>
  <%= button_to "Join this group", group_join_path(@group), :method => :get %>
<% end %>
<br>
<br>
<h1> Group Member's Picks </h1>
<% @awards.each do |award| %>
  <h3> <%= award.full_name %> </h3>
  <div class="table-responsive">
  <table class="table table-hover table-condensed col-md-3">
      <thead>
          <tr>
              <th>User</th>
              <th>Player</th>
              <th>Created At</th>
          </tr>
      </thead>
      <tbody>
            <% award.picks.each do |pick| %>
              <% if  @group.users.exists?(pick.user.id)%>
                <% if !pick.is_private || is_admin? %>
                <tr>
                  <td> <%= pick.user.name %></td>
                  <td> <%= link_to pick.player.DISPLAY_FIRST_LAST, player_path(pick.player) %> </td>
                  <td> <%= pick.created_at.strftime("%Y-%m-%d") %> </td>
                  <td> <%= link_to "View Pick", pick_path(pick) %></td>
                  <% if is_admin? %>
                  <td> <%= link_to "Edit", edit_pick_path(pick) %> </td>
                  <td> <%= link_to "Delete", pick_path(pick), data: { confirm: 'Are you sure?' }, :method => :delete %> </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
            <% end %>
      </tbody>
  </table>
  </div>
<% end %>
