<p id="notice"><%= notice %></p>
<h2> Hello <%= @user.name %></h2>

<h4> Name: <%= @user.name %> </h4>
<h4> Email: <%= @user.email %> </h4>

<%= link_to "Home", root_path %>

<!-- Sidebar and gravatar profile image -->
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<h1> My Picks </h1>
<div class="table-responsive">
<table class="table table-hover table-condensed col-md-3">
    <thead>
        <tr>
            <th>Award</th>
            <th>Player</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        <% @user.picks.each do |pick| %>
          <tr>
            <td> <%= pick.award.full_name %></td>
            <td> <%= link_to pick.player.name, player_path(pick.player) %> </td>
            <td> <%= pick.created_at.strftime("%Y-%m-%d") %> </td>
            <td> <%= link_to "View Pick", pick_path(pick) %></td>
            <td> <%= link_to "Edit", edit_pick_path(pick) %> </td>
            <td> <%= link_to "Delete", pick_path(pick), data: { confirm: 'Are you sure?' }, :method => :delete %> </td>
          </tr>
        <% end %>
    </tbody>
</table>
</div>
