<p id="notice"><%= notice %></p>
<h1><%= @player.name %></h2>

<h4> Identifier: <%= @player.identifier %> </h4>
<h4> Position: <%= @player.position %> </h4>

<%= link_to "Back to List of Players", players_path %> <br>
<%= link_to "Home", root_path %>
