<h1> <%= @player.DISPLAY_FIRST_LAST %> </h1>
<ul class="list-inline" align = "center">
  <li class="list-inline-item"><strong>Height, Weight:</strong> <%= @player.PLAYER_HEIGHT %>, <%= @player.PLAYER_WEIGHT %></li>
  <li class="list-inline-item"><strong>Team:</strong> <%= @player.TEAM_CITY + " " + @player.TEAM_NAME %></li>
  <li class="list-inline-item"><strong>College:</strong> <%= @player.COLLEGE %></li>
</ul>

<div class="table-responsive">
<table class="table table-hover table-condensed col-md-3">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Team</th>
            <th>Points</th>
            <th>Rebounds</th>
            <th>Assists</th>
            <th>Net Rating</th>
            <th>True Shooting %</th>
            <th>Usage %</th>
            <th>MVP Rating</th>
            <th>Last Updated</th>
        </tr>

    </thead>
    <tbody>
        <tr>
          <td>  <%= @player.mvp_rank %> </td>
          <td><%= link_to @player.DISPLAY_FIRST_LAST, player_path(@player) %></td>
          <td>  <%= @player.TEAM_ABBREVIATION %> </td>
          <td>  <%= @player.PTS %> </td>
          <td>  <%= @player.REB %> </td>
          <td>  <%= @player.AST %> </td>
          <td>  <%= @player.NET_RATING %> </td>
          <td>  <%= @player.TS_PCT %> </td>
          <td>  <%= @player.USG_PCT %> </td>
          <td> <strong> <%= @player.mvp_rating %></strong> </td>
          <td>  <%= @player.updated_at %> </td>
        </tr>
    </tbody>
</table>
</div>
