<h3><%= link_to "Make a Pick", new_pick_path %></h3>

<% @picks.each do |pick| %>
	<%= pick.user.name %>
	<%= pick.award.name %>
	<%= pick.is_private %>
	<%= link_to "View Pick", pick_path(pick) %> <br>
<% end %>
