<% if logged_in? %>

	<h1><%= link_to "Make a Pick!", new_pick_path %> </h1>
	<h2> Public Picks </h2>
	<p> <%= @test %>
	<% @awards.each do |award| %>
		<h3> <%= award.full_name %> </h3>
		<div class="table-responsive">
		<table class="table table-hover table-condensed col-md-3">
				<thead>
						<tr>
								<th>User</th>
								<th>Player</th>
								<th>Created At</th>
						</tr>
				</thead>
				<tbody>
							<% award.picks.each do |pick| %>
								<% if !pick.is_private || is_admin? %>
									<tr>
										<td> <%= pick.user.name %></td>
										<td> <%= link_to pick.player.DISPLAY_FIRST_LAST, player_path(pick.player) %> </td>
										<td> <%= pick.created_at.strftime("%Y-%m-%d") %> </td>
										<td> <%= link_to "View Pick", pick_path(pick) %></td>
										<% if is_admin? %>
										<td> <%= link_to "Edit", edit_pick_path(pick) %> </td>
										<td> <%= link_to "Delete", pick_path(pick), data: { confirm: 'Are you sure?' }, :method => :delete %> </td>
										<% end %>
									</tr>
								<% end %>
							<% end %>
				</tbody>
		</table>
		</div>
	<% end %>


<% else %>
	<h1><%= link_to "Login to make a pick!", login_path %></h1>
<% end %>
